body {
    background-image: url("../storage/salotai.jpg");
    background-position: all;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center -5%;
    background-color: #ffffff;
    font-style: italic;
    border: none;
    color: black;
    font-size: 20px;
    }

a {
    text-underline-position: none;
    color: black;
}
.mygelis {
    background: white; / For browsers that do not support gradients /
    background: linear-gradient(white, grey);
    border-radius: 25px;
    color: black;
    text-align: center;
    }

.mygelis:hover {
     background: gray; / For browsers that do not support gradients /
    background: radial-gradient(60% 55%,gray, white); / Standard syntax /
    }

span {
    align-content: center;
    color: black;
    font-size: 18px;
    }

img {
    border-radius: 25px;
    background-color: white;
}

.paveiksliukis {
    border: 3px white;
}

div {
    border-radius: 25px;
}

table   {
    color: black;
}

div .navbar .navbar-nav li a{
    min-height: 90px;
    background: white;
    color: black;
    height: 40px;
    border-radius: 25px;
    font-size: 20px;
    align-content: center;
    padding-top: 35px;
}

button {
    background: white;
    color: black;
    border-color: white;
    width: 170px;
    height: 40px;
    border-radius: 25px;
}

.linkbaloon {
    display: block;
    max-width: 300px;
    border: 3px white;
    margin: 30px;
}

.center-cropped {
    object-fit: none;
    /*width: 390px;*/
    height: 390px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.klasele {
    padding: 15px;
    border-radius: 25px;
 /*   max-width: 400px;*/
    background-color: white;
    opacity: 0.9;
    color: black;
    text-align: center;
    margin: 7px -5px; 
    align: center;
}
.klasele:hover {
    opacity: 1;
    text-underline-position: none;
}

.klasele span {
    color: black;
    font-size: 15px;
}

.remove {
    margin-right: 0;
}

.kontaktai {
    background-color: white;
    opacity: 0.9;
    padding: 7px;
}

@media only screen and (max-width: 2000px) {
    
    /* Force table to not be like tables anymore */
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr { 
        display: block; 
    }
 
    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
 
    #no-more-tables tr { border: 1px solid #ccc; }
 
    #no-more-tables td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
    }
 
    #no-more-tables td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
 
    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}